spring:
  application:
    name: inventory-app
  datasource:
    url: jdbc:postgresql://localhost:5435/inventory_db
    username: inventory_user
    password: inventory_pass
  flyway:
    enabled: true
    locations: classpath:db/migration

server:
  port: 8083

management:
  endpoints:
    web:
      exposure:
        include:
          - health
          - info
